<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed</title>
    <link href="../static/mvp.css" rel="stylesheet">
</head>
<body>



    <header>

        <div class="ban" id="ban-left">
            <!-- TODO: Make mobile compatible --->
            <img src="../static/jae-logo.PNG" alt="JAE Web Design" height=110px width=125px />
        </div>
        <div class="ban" id="ban-center">
            <h2 id="header-title"><u>Task Manager: WebApp</u></h2>
            <p>By: Jake Etzler</p>
        </div>
        <div id="ban-right" class="ban">
            <h2>Home</h2>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('completed') }}">Completed</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>


<main>
    {{ comp_table }}
</main>

</body>
</html>