<!DOCTYPE html>

<!--
>task-manager-web: index.html
>
>author: Jake Etzler
>
>requirements: mvp.css
--->

<!-- TODO: Create a base template for better reuse --->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link href="../static/mvp.css" rel="stylesheet">
    <link href="/static/jae-logo-2.png" rel="icon">
</head>
<body>

    <header>
        <div class="ban" id="ban-left">
            <!-- TODO: Make mobile compatible --->
            <img src="../static/jae-logo.PNG" alt="JAE Web Design" height=110px width=125px />
        </div>
        <div class="ban" id="ban-center">
            <h2 id="header-title"><u>Task Manager: WebApp</u></h2>
            <p>By: Jake Etzler</p>
        </div>
        <div id="ban-right" class="ban">
            <h2>Home</h2>
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('completed') }}">Completed</a></li>
            <li><a id="home-link" href="/">Home</a></li>
            <li><a href="{{ url_for('due') }}">Due</a></li>
        </ul>
    </nav>


    <main>
        <div class="main_home">
            <div class="main_div" id="calendar">
                <h2><u>Calendar</u></h2>
                {{ cal | safe }}
            </div>
            <div class="main_div" id="pri_tasks">
                <h2><u>Priority Tasks</u></h2>
                {{ pri_table }}
            </div>
            <div class="main_div" id="overdue_tasks">
                <h2><u>Overdue Tasks</u></h2>
                {{ overdue_table }}
            </div>
        </div>
    </main>


</body>

<footer>
    <form method="post" action="/">
        <a href="https://github.com/jakeaetzler/task-manager-web" target="_blank"><u>Git</u></a>
        <input type="submit" name="refresh-api" value="Refresh Tasks" id="refresh-btn"/>
    </form>
</footer>
</html>