<!DOCTYPE html>

<!--
>task-manager-web: index.html
>
>author: Jake Etzler
>
>requirements: mvp.css
--->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link href="../static/mvp.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="ban" id="ban-left">
            <!-- TODO: Make mobile compatible --->
            <img src="../static/jae-logo.PNG" alt="JAE Web Design" height=110px width=125px />
        </div>
        <div class="ban" id="ban-center">
            <h2 id="header-title"><u>Task Manager: WebApp</u></h2>
            <p>By: Jake Etzler</p>
        </div>
        <div id="ban-right" class="ban">
            <h2>Home</h2>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <a href="https://github.com/jakeaetzler/task-manager-web" target="_blank"><u>Git</u></a>
    </footer>
</body>
</html>